# The hostname of the server to connect to
server: chat.freenode.net
# The port to connect to. Leave undefined to automatically pick a port
#port: 6667
# Should SSL be used to connect to the server?
ssl: true
# (Optional) server password
#serverpass: ""

# Nickname for the bot
nick: goircbot
# Username for the bot
user: goircbot
# Real Name for the bot
realname: Go IRC bot

# Plugins to load
# Leave commented out to load all plugins
#plugins:
#- youtube
#- vimeo
#- urls
#- tweet
#- stocks
#- sed
#- reaction
#- derpcoin
#- command
#- appdotnet
#- alpha
